.topicos{
    background-color: var(--azul2);
    text-align: center;
    padding: 1em 0;
}
.topicos__titulo{
    color: var(--branca);
    font-weight: 300;
    margin-bottom: 1em;
}
.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.topicos__link{
    padding: 1em;
    color: var(--branca);
    text-decoration: none;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}
.topicos__item{
    margin: 2em 0.5em;
}
.topicos__item::marker{
    color: transparent;
}
@media screen  and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }
    .topicos__link{
        font-size: 20px;
    }
    
}
@media screen  and (min-width: 1728px){
    .topicos{
        padding: 1em 30vw;
    }
}